// Fonts
// ----------------------------------------------------------------------------
$font-family-primary-sans-serif: "brandon-grotesque", 'helvetica neue', helvetica, arial, sans-serif;
$font-family-secondary-sans-serif: "proxima-nova", 'helvetica neue', helvetica, arial, sans-serif;

$base-font-size:        20px;
$base-line-height:      24px;

$line-height-headline:  1.45;

$font-weight-light:     300;
$font-weight-normal:    400;
$font-weight-medium:    500;
$font-weight-bold:      700;


// Spacing
// ----------------------------------------------------------------------------
$base-spacing-unit:     2rem; // 24px

$base-padding:          $base-spacing-unit;

$spacing-grid:          $base-spacing-unit;

$spacing:               $base-spacing-unit;
// Smaller
$spacing-half:          ($spacing / 2);
// Larger
$spacing-double:        ($spacing * 2);

// Others
// ----------------------------------------------------------------------------
$base-transition:       all .1s ease-in;

